html {
    background-color: #faffff;
    font-family: 'Spline Sans', sans-serif;
    color: #1C0B19;
}

body {
    margin: 0px;
}

header {
    background-color: #335145;
    margin: 0px;
    padding: 10px 20px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar .logo {
    color: #FCBF49;
    font-family: 'Rock Salt', sans-serif;
    font-size: 12px;
}

nav ul {
    display: flex;
    margin: 0px;
    list-style: none;
    gap: 20px;
}

.navbar .nav-item {
    color: #E7BB41;
    font-weight: bolder;
    font-size: 17px;
}

h1 {
    font-weight: bolder;
}

a {
    text-decoration: none;
    color: #4F5D2F;
}

a:hover {
    text-decoration: underline;
}

.content {
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-between;
}

.content-title {
    color: #140D4F;
    text-align: center;
}

.content-subtitle {
    color: #D77A61;
}
