body {
    background-color: #faffff;
    font-family: 'Spline Sans', sans-serif;
}

a,
a:visited {
    text-decoration: none;
    color: black;
}

h1 {
    font-weight: bolder;
}

.logo {
    font-family: 'Alata', sans-serif;
    font-size: 28px;
}
